1.0. O problema de
negócio.
https://sejaumdatascientist.com/os-5-projetos-de-data-science-que-fara-o-recrutador-olhar-para-voce/


https://www.kaggle.com/harlfoxem/housesalesprediction


- EMPRESA: House Rocket
- MODELO DE NEGÓCIO: Compra casas com preço baixo e revendo com o preço mais alto.
- QUAL O DESAFIO: Encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço baixo, em ótima localização eque tenham um ótimo potencial de revenda por um preço mais alto.


1. Qual a data do imóvel mais antigo no portfólio?
2. Quantos imóveis possuem o número máximo de andares?
3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
Acima de R$ 540.000 ->
alto padrão
Abaixo de R$ 540.000 ->
baixo padrão
4. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações:
id do imóvel 
data que o imóvel ficou disponível para compra,
o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel
( alto e baixo padrão )
5. Gostaria de um Mapa indicando onde as casase stão localizadas geograficamento.

In [ ]:
import seaborn as sns
import pandas  as pd
import numpy   as np

In [ ]:
data = pd.read_csv('/home/r_a_s/dp/m2/archive/kc_house_data.csv')


#string para data
data['date'] = pd.to_datetime(data['date'])

print(data.dtypes)

1. Qual a data do imóvel mais antigo no portfólio?

In [ ]:
print(data.sort_values('date', ascending=True))

2. Quantos imóveis possuem o número máximo de andares?

In [ ]:
#print(data['floors'].unique())

print (data[data['floors']== 3.5][['floors','id']])

3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
Acima de R$ 540.000 ->
alto padrão
Abaixo de R$ 540.000 ->
baixo padrão

In [ ]:
data['level'] = 'standard'

data.loc[data['price'] > 540000, 'level'] = 'higt_level' 
data.loc[data['price'] < 540000, 'level'] = 'low_level'

4. Gostaria de um relatório ordenado pelo preço e contento as seguintes informações:
id do imóvel 
data que o imóvel ficou disponível para compra,
o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel
( alto e baixo padrão )

In [ ]:
report = data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']].sort_values('price', ascending=False)

print( report.head())

5. Gostaria de um Mapa indicando onde as casase stão localizadas geograficamento.

In [ ]:
import plotly.express as px

data_mapa = data[['id', 'lat', 'long', 'price']]

mapa = px.scatter_mapbox( data_mapa, lat= 'lat', lon='long', hover_name= 'id',hover_data= ['price'], color_discrete_sequence= ['fuchsia'], zoom=3, height=300 )

mapa.update_layout(mapbox_style='open-street-map')

mapa.update_layout(height=900, margin={'r':0, 't':0, 'l':0, 'b':0})



mapa.write_html('map_house.html')

1. Crie uma nova coluna chamada: 'house_age'
- Se o valor da coluna 'date' for maior que 2015-01-01 >= 'new_house'
- Se o valor da coluna 'date' for menor que 2015-01-01 <= 'old_house'
2. Crie uma nova coluna chamada: 'dormitory_type'
- Se o valor da coluna 'bedrooms' for igual a 1 -> 'studio'
- Se o valor da coluna 'bedrooms' for igual a 2 -> 'apartment'
- se o valor da coluna 'bedrooms' for maior que 2 -> 'house'
3. Cria uma nova coluna chamada 'condition_type'
- Se o valor da coluna 'condition' for menor ou igual a 2 -> 'bad'
- Se o valor da coluna 'condition' for igual a 3 ou 4 -> 'regular'
- Se o valor da coluna 'condition' for igual a 5 -> 'good'
4. Modifique o TIPO da Coluna 'condition' para string
5. Delete as colunas 'sqft_living15' e 'sqft_lot15'
6. Modifique o tipo da coluna 'yr_build' para date
7. Modifique o tipo da coluna 'yr_renovated' para date
8. Qual a data mais antiga de construção de um imóvel?
9. Qual a data mais antiga de renovação de um imóvel?
10. Quantos imóveis tem 2 andares?
11. Quantos imóveis estão com a condição 'regular'?
12. Quantos imóveis estão com a condição igual a 'bad' e possuem 'vista para o mar'
13. Quantos imóveis estão com a condição igual a 'good' e são 'new_house'?
14. Qual o valor do imóvel mais caro do tipo 'studio'?
15. Quantos imóveis do tipo 'apartment' foram reformados em 2015?
16. Qual o maior número de quartos que um imóvel do tipo 'house' possui?
17. Quantos imóveis 'new_house' foram reformados no ano de 2014?
18. Selecione as colunas 'id','date','price','floors','zipcode' pelo método:
- Direto pelo nome das colunas.
- Pelos índices.
- Pelos índices das linhas e o nome das colunas.
- Índices booleanos
19. Salve um arquivo .csv com somente as colunas do item 10.
20. Modifique a cor dos pontos no mapa de 'pink' para 'verde-escuro'

1. Crie uma nova coluna chamada: 'house_age'
- Se o valor da coluna 'date' for maior que 2015-01-01 >= 'new_house'
- Se o valor da coluna 'date' for menor que 2015-01-01 <= 'old_house'

In [ ]:
data ['house_age']= "NA"

print(data[['id', 'house_age']].head())


data.loc[data['date'] > '2015-01-01', 'house_age' ] = 'new_house'

data.loc[data['date'] < '2015-01-01', 'house_age']  = 'old_house'


data [['house_age']].value_counts()

2. Crie uma nova coluna chamada: 'dormitory_type'
- Se o valor da coluna 'bedrooms' for igual a 1 -> 'studio'
- Se o valor da coluna 'bedrooms' for igual a 2 -> 'apartment'
- se o valor da coluna 'bedrooms' for maior que 2 -> 'house'

In [ ]:
data['dormitory_type'] = "NA"

data.loc[data['bedrooms'] == 1 , 'dormitory_type'] = "studio"

data.loc[data['bedrooms'] == 2 , 'dormitory_type'] = "apartament"

data.loc[data[ 'bedrooms'] > 2 , 'dormitory_type'] = "house"

data [['dormitory_type']].value_counts()

3. Cria uma nova coluna chamada 'condition_type'
- Se o valor da coluna 'condition' for menor ou igual a 2 -> 'bad'
- Se o valor da coluna 'condition' for igual a 3 ou 4 -> 'regular'
- Se o valor da coluna 'condition' for igual a 5 -> 'good'

In [ ]:
data['condition_type'] = "NA"

data.loc[data['condition'] <= 2 , 'condition_type'] = "bad" 

data.loc[(data['condition'] == 3 ) | (data['condition'] == 4 ), 'condition_type'] = "regular"

data.loc[data['condition'] == 5 , 'condition_type'] = "good" 

data [['condition_type']].value_counts()

4. Modifique o TIPO da Coluna 'condition' para string

In [ ]:
data['condition'] = data['condition'].astype(str)

5. Delete as colunas 'sqft_living15' e 'sqft_lot15'

In [ ]:
data = data.drop( ['sqft_living15' , 'sqft_lot15' ], axis=1)

6. Modifique o tipo da coluna 'yr_build' para date
7. Modifique o tipo da coluna 'yr_renovated' para date

In [ ]:
data['yr_built'] = pd.to_datetime( data['yr_built'], format='%Y' )

In [ ]:
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime( x, format='%Y') if x > 0 else x )

8. Qual a data mais antiga de construção de um imóvel?
9. Qual a data mais antiga de renovação de um imóvel?

In [ ]:
data.sort_values(by = 'yr_built', ascending = True).head(10)

#data.sort_values(by = 'yr_renovated', ascending = True).head(10)

10. Quantos imóveis tem 2 andares?
11. Quantos imóveis estão com a condição 'regular'?
12. Quantos imóveis estão com a condição igual a 'bad' e possuem 'vista para o mar'
13. Quantos imóveis estão com a condição igual a 'good' e são 'new_house'?

In [ ]:
data[['floors']].value_counts()

In [ ]:
data[['condition_type']].value_counts()

In [ ]:
data12 = data.loc[(data['condition_type'] == "bad")&(data['waterfront'] == 1) ]

data12

In [ ]:
data13 = data.loc[(data['condition_type'] == "good") &(data['house_age' ] == "new_house")]

data13

14. Qual o valor do imóvel mais caro do tipo 'studio'?
15. Quantos imóveis do tipo 'apartment' foram reformados em 2015?
16. Qual o maior número de quartos que um imóvel do tipo 'house' possui?
17. Quantos imóveis 'new_house' foram reformados no ano de 2014?

In [ ]:
data14 = data.loc[(data['dormitory_type'] == "studio")]

data14.sort_values(by='price', ascending = False).head(5)

In [ ]:
data15 = data.loc [(data['dormitory_type'] == "studio")]

data15

In [29]:
data16 = data.loc[(data['dormitory_type'] == 'house')]

data16.sort_values(by='bedrooms', ascending=False ).head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,level,house_age,dormitory_type,condition_type
15870,2402100895,2014-06-25,640000.0,33,1.75,1620,6000,1.0,0,0,...,580,1947-01-01,0,98103,47.6878,-122.331,higt_level,old_house,house,good
8757,1773100755,2014-08-21,520000.0,11,3.00,3000,4960,2.0,0,0,...,600,1918-01-01,1999-01-01 00:00:00,98106,47.5560,-122.363,low_level,old_house,house,regular
13314,627300145,2014-08-14,1148000.0,10,5.25,4590,10920,1.0,0,2,...,2090,2008-01-01,0,98004,47.5861,-122.113,higt_level,old_house,house,regular
19254,8812401450,2014-12-29,660000.0,10,3.00,2920,3745,2.0,0,0,...,1060,1913-01-01,0,98105,47.6635,-122.320,higt_level,old_house,house,regular
15161,5566100170,2014-10-29,650000.0,10,2.00,3610,11914,2.0,0,0,...,600,1958-01-01,0,98006,47.5705,-122.175,higt_level,old_house,house,regular

In [28]:
print(data.columns)
print( data.dtypes)

data

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'level', 'house_age', 'dormitory_type',
       'condition_type'],
      dtype='object')
id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated              object
zipcode                    int64
lat                      float64
long                     float64
level                     object
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,level,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955-01-01,0,98178,47.5112,-122.257,low_level,old_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951-01-01,1991-01-01 00:00:00,98125,47.7210,-122.319,low_level,old_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933-01-01,0,98028,47.7379,-122.233,low_level,new_house,apartament,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965-01-01,0,98136,47.5208,-122.393,higt_level,old_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987-01-01,0,98074,47.6168,-122.045,low_level,new_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,2009-01-01,0,98103,47.6993,-122.346,low_level,old_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,2014-01-01,0,98146,47.5107,-122.362,low_level,new_house,house,regular
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,2009-01-01,0,98144,47.5944,-122.299,low_level,old_house,apartament,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,2004-01-01,0,98027,47.5345,-122.069,low_level,new_house,house,regular
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,2008-01-01,0,98144,47.5941,-122.299,low_level,old_house,apartament,regular